<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="C:\Users\user\Desktop\machine learning.jpg" type="image/x-icon">
    <title>MaxScience</title>
    <style>
        header{
            background-color: aqua;
            color: burlywood;
        }
        ul{
            display: inline;
        }
        li{
            list-style-type: none;
            /* display: grid; */
        }
        a{
            text-align: right;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="{{ url_for('about') }}">About</a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}">Login</a>
                </li>
                <li>
                    <a href="{{ url_for('signup') }}">SignUp</a>
                </li>
            </ul>
        </nav>
        <h1>MaxScience Tutors</h1>
    </header>
</body>
</html>